body {
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;

  main {
    width: 90vw;

    .doctor_bio_svg_container {

      width: 85vw;
      margin-top: 1rem;

      .back_button_svg {
        height: 4rem;
        width: 4rem;
        margin-left: -12px;
      }
    }

    .doctor_bio_content_container {
      margin-bottom: 4rem;

      .doctor_bio_title {
        font-size: 2rem;
      }

      .doctor_bio_para {
        font-size: 1.1rem;
        line-height: 1.8rem;
      }
    }
  }
}