body {

  .service_main {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-image: url("images/animal treatment.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .background_opacity {
      position: fixed;
      height: inherit;
      width: inherit;
      background-color: black;
      opacity: 80%;
    }

    .service_container {
      width: 85vw;
      z-index: 1;
      padding: 1rem 0;

      .service_svg {
        height: 4rem;
        width: 4rem;
        margin-left: -12px;
      }

      .service_title {
        color: white;
      }

      .service_para {
        line-height: 2rem;
        color: white;
        font-weight: 300;
        font-size: 1.1rem;
      }

      .service_list {
        margin: 2rem 0;
        line-height: 1.8rem;
        color: white;
        font-weight: 300;
      }
    }
  }
  @media (min-width: 768px) {
    .service_main {

      .service_container {
        padding: 2rem 0;

        .service_title {
          font-size: 2.25rem;
        }

        .service_para {
          font-size: 1.25rem;
        }

        .service_list {
          font-size: 1.1rem;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .service_main {

      .service_container {

        .service_para {
          font-size: 1.1rem;
        }

        .service_list {
          font-size: 1.1rem;
        }
      }
    }
  }
  @media (min-width: 1440px) {
    .service_main {

      .service_container {
        width: 68rem;
      }
    }
  }
}
