.stop_scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F8F8F8;
}
body button {
  cursor: pointer;
}
body h2 {
  margin-top: 0;
}
body .navbar_mobile {
  background-color: #2D2D2D;
}
body .navbar_mobile .navbar_item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 0;
}
body .navbar_mobile .navbar_item-container .navbar_logo {
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
}
body .navbar_mobile .navbar_item-container .navbar_mobile_owned {
  color: white;
  font-size: 0.65rem;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 10;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu .navbar_hamburger {
  background-color: white;
  width: 24px;
  height: 2px;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  transition: 0.4s all ease-in-out;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu #bar-1 {
  transform: translateY(8px);
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu #bar-3 {
  transform: translateY(-8px);
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu .bar-1 {
  transform: translateY(0px) !important;
  rotate: 45deg;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu .bar-2 {
  transform: translateX(-20px);
  background: transparent;
  box-shadow: none;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu .bar-3 {
  transform: translateY(0px) !important;
  rotate: -45deg;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden {
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #2D2D2D;
  padding: 6rem 2rem;
  transition: all 0.4s ease-in-out;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden .navbar_mobile_dropdown_link {
  opacity: 0;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden .mobile_link {
  color: #F8F8F8;
  text-decoration: none;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden .link-1 {
  transition: all 2.4s;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden .link-2 {
  transition: all 2.8s;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden .link-3 {
  transition: all 3.2s;
}
body .navbar_mobile .navbar_mobile_dropdown_hidden .link-4 {
  transition: all 3.6s;
}
body .navbar_mobile .navbar_mobile_dropdown_show {
  top: 0;
}
body .navbar_mobile .navbar_mobile_dropdown_show .navbar_mobile_dropdown_link {
  opacity: 1;
}
@media (min-width: 1024px) {
  body .navbar_mobile {
    display: none;
  }
}
body .navbar_laptop {
  display: none;
}
@media (min-width: 1024px) {
  body .navbar_laptop {
    display: block;
    background-color: #2D2D2D;
  }
  body .navbar_laptop .navbar_laptop_container {
    width: 95vw;
    display: flex;
    padding: 0.8rem 0;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_logo {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_owned {
    color: white;
    font-size: 0.6rem;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_link_container {
    display: flex;
    gap: 2rem;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_link_container a {
    text-decoration: none;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_link_container .navbar_laptop_link {
    font-size: 1rem;
    color: white;
  }
}
body main {
  flex-grow: 1;
}
body main .landing-page {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .landing-page .landing-page_container {
  width: inherit;
  display: flex;
  flex-direction: column;
}
body main .landing-page .landing-page_container .landing-page_text .landing-page_text_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
body main .landing-page .landing-page_container .landing-page_text .landing-page_text_para {
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
body main .landing-page .landing-page_container .landing-page_text .landing_page_button_container {
  display: flex;
  gap: 0.5rem;
}
body main .landing-page .landing-page_container .landing-page_text .landing_page_button_container .landing-page_text_button {
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
body main .landing-page .landing-page_container .landing-page_image {
  width: inherit;
  border-radius: 1.5rem;
}
@media (min-width: 768px) {
  body main .landing-page .landing-page_text .landing-page_text_title {
    margin-bottom: 1.25rem;
  }
  body main .landing-page .landing-page_text .landing-page_text_para {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  body main .landing-page {
    margin-top: 0;
    flex-direction: row;
    max-width: 55rem;
    height: 100dvh;
    align-items: center;
    gap: 4rem;
  }
  body main .landing-page .landing-page_container {
    flex-direction: row;
    gap: 4rem;
  }
  body main .landing-page .landing-page_container .landing-page_text .landing-page_text_title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
  body main .landing-page .landing-page_container .landing-page_text .landing-page_text_para {
    color: #333333;
    line-height: 2rem;
    font-size: 1.1rem;
  }
  body main .landing-page .landing-page_container .landing-page_text .landing_page_button_container .landing-page_text_button {
    font-size: 0.9rem;
  }
  body main .landing-page .landing-page_container .landing-page_image {
    width: 28rem;
    height: 28rem;
  }
}
@media (max-height: 600px) {
  body main .landing-page {
    margin-top: 5rem;
  }
}
@media (min-width: 1440px) {
  body main .landing-page {
    width: auto;
    max-width: none;
    gap: normal;
  }
  body main .landing-page .landing-page_container {
    width: 68rem;
    gap: 0;
  }
  body main .landing-page .landing-page_container .landing-page_text .landing-page_text_para {
    width: 70%;
  }
  body main .landing-page .landing-page_container .landing-page_text .landing-page_text_button {
    font-size: 1rem;
  }
}
body main .about-us {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .about-us .about-us_container {
  width: inherit;
}
body main .about-us .about-us_container .about-us_image {
  width: inherit;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
body main .about-us .about-us_container .about_us_container_info .about-us_title {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
}
body main .about-us .about-us_container .about_us_container_info .about-us_para {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #333333;
}
@media (min-width: 768px) {
  body main .about-us {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .about-us {
    align-items: center;
    max-width: 55rem;
    flex-direction: row;
    height: 75dvh;
  }
  body main .about-us .about-us_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }
  body main .about-us .about-us_container .about-us_image {
    width: 26rem;
    height: 26rem;
  }
  body main .about-us .about-us_container .about_us_container_info .about-us_title {
    font-size: 2.25rem;
  }
  body main .about-us .about-us_container .about_us_container_info .about-us_para {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
@media (min-width: 1440px) {
  body main .about-us {
    width: 100vw;
    max-width: none;
    justify-content: center;
  }
  body main .about-us .about-us_container {
    width: 68rem;
    gap: 8rem;
  }
  body main .about-us .about-us_container .about_us_container_info .about-us_title {
    font-size: 2.5rem;
  }
  body main .about-us .about-us_container .about_us_container_info .about-us_para {
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
body main .about-us_doctor {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .about-us_doctor .about-us_doctor_container {
  width: inherit;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_image {
  width: inherit;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  height: 30rem;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .christine_title {
  margin-bottom: 0.25rem;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .christine_position {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_para {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #333333;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about_us_doctor_button {
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about_us_doctor_button a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  body main .about-us_doctor {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .about-us_doctor {
    flex-direction: row;
    justify-content: center;
  }
  body main .about-us_doctor .about-us_doctor_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    max-width: 55rem;
    align-items: center;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_image {
    width: 24rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about_us_doctor_button {
    font-size: 0.9rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_title {
    font-size: 2.25rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_para {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  body main .about-us_doctor .about_us_christine_container {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  body main .about-us_doctor {
    width: 100vw;
  }
  body main .about-us_doctor .about-us_doctor_container {
    width: 68rem;
    max-width: none;
    gap: 8rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about_us_doctor_button {
    font-size: 1rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_title {
    font-size: 2.5rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_para {
    font-size: 1.15rem;
    width: 36.25rem;
  }
}
body main .our-team {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
body main .our-team .our-team_container {
  width: 85vw;
}
body main .our-team .our-team_container .our-team_title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
body main .our-team .our-team_container .our-team_card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card .our-team_card-image {
  border-radius: 9999px;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card .our-team_card-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0.75rem;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card .our-team_card-position {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.25rem;
}
body main .our-team .our-team_container .card_container-two {
  margin-top: 3rem;
}
body main .our-team .modal_background {
  height: 100dvh;
  width: 100dvw;
  background-color: #2D2D2D;
  position: fixed;
  opacity: 0.75;
  left: 0;
  top: 0;
  display: none;
}
body main .our-team .our_team_card_modal {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 85%;
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_top_content {
  display: flex;
  align-items: center;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_top_content .modal_image {
  border-radius: 9999px;
  height: 7.5rem;
  width: 7.5rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
  margin-right: 1rem;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_top_content .modal_title {
  font-size: 1.5rem;
  font-weight: normal;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_para {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #333333;
  overflow: auto;
}
body main .our-team .show_modal_background {
  display: block;
}
body main .our-team .show_modal {
  display: flex;
}
@media (min-width: 768px) {
  body main .our-team {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .our-team .our-team_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .our-team .our-team_container .our-team_title {
    width: 100%;
    max-width: 55rem;
    font-size: 2.25rem;
  }
  body main .our-team .our-team_container .our-team_card-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 55rem;
  }
  body main .our-team .our-team_container .our-team_card-container .our-team_card {
    width: 20%;
  }
  body main .our-team .our-team_container .card_container-two {
    max-width: 40rem;
    justify-content: flex-start;
    padding: 0 3rem;
    gap: 7.5rem;
  }
  body main .our-team .our_team_card_modal .our_team_card_modal_container {
    width: 60%;
  }
  body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_para {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media (min-width: 1440px) {
  body main .our-team .our-team_container {
    width: 68rem;
  }
  body main .our-team .our-team_container .our-team_title {
    max-width: none;
  }
  body main .our-team .our-team_container .our-team_card-container {
    max-width: none;
  }
  body main .our-team .our-team_container .card_container-two {
    max-width: none;
    padding: 0 12rem;
    gap: 9.5rem;
  }
}
body main .our-services {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
body main .our-services .our_services_container {
  width: 85vw;
}
body main .our-services .our_services_container .our-services_title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
body main .our-services .our_services_container .our-services_card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26rem;
  width: 75vw;
  background-color: black;
  border-radius: 1rem;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_title {
  color: #F8F8F8;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_para {
  color: #F8F8F8;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our_services_card_svg_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our_services_card_svg_container .our_services_card_svg {
  height: 2.25rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our_services_card_svg_container .our_services_card_svg_2 {
  height: 3rem;
}
@media (min-width: 768px) {
  body main .our-services {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .our-services {
    max-width: 55rem;
    margin-top: 0;
  }
  body main .our-services .our_services_container .our-services_title {
    font-size: 2.25rem;
  }
  body main .our-services .our_services_container .our-services_card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card {
    width: auto;
    padding: 1.25rem 1.25rem;
    height: 22rem;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_title {
    margin: 0;
    font-size: 1.6rem;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_para {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  body main .our-services .our_services_container {
    width: 68rem;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card {
    height: 18rem;
  }
}
body main .blue_rabbit {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
body main .blue_rabbit .blue_rabbit_content_container {
  margin: 6rem 0;
  width: 85vw;
}
body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_para {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.1rem 0.75rem;
  color: white;
  font-size: 0.75rem;
  line-height: 2.25rem;
  border: none;
}
@media (min-width: 768px) {
  body main .blue_rabbit {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_title {
    font-size: 2.25rem;
  }
  body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_para {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  body main .blue_rabbit .blue_rabbit_content_container {
    width: 68rem;
  }
  body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_title {
    font-size: 2.5rem;
  }
  body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_para {
    font-size: 1.15rem;
    line-height: 2rem;
  }
  body main .blue_rabbit .blue_rabbit_content_container .blue_rabbit_button {
    font-size: 1rem;
  }
}
body main .finance_help {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #2D2D2D;
}
body main .finance_help .finance_help_content_container {
  margin: 16rem 0;
  width: 85vw;
}
body main .finance_help .finance_help_content_container .finance_help_title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #F8F8F8;
}
body main .finance_help .finance_help_content_container .finance_help_para {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  color: #F8F8F8;
}
body main .finance_help .finance_help_content_container .finance_help_button_container {
  display: flex;
  gap: 0.5rem;
}
body main .finance_help .finance_help_content_container .finance_help_button_container .finance_help_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.1rem 0.75rem;
  color: white;
  font-size: 0.75rem;
  line-height: 2.25rem;
  border: none;
}
@media (min-width: 768px) {
  body main .finance_help {
    margin-top: 10rem;
  }
  body main .finance_help .finance_help_content_container {
    margin: 20rem 0;
  }
}
@media (min-width: 1024px) {
  body main .finance_help .finance_help_content_container .finance_help_title {
    font-size: 2.25rem;
  }
  body main .finance_help .finance_help_content_container .finance_help_para {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  body main .finance_help .finance_help_content_container .finance_help_button_container .finance_help_button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  body main .finance_help .finance_help_content_container {
    width: 68rem;
  }
  body main .finance_help .finance_help_content_container .finance_help_title {
    font-size: 2.5rem;
  }
  body main .finance_help .finance_help_content_container .finance_help_para {
    font-size: 1.15rem;
    line-height: 2rem;
  }
  body main .finance_help .finance_help_content_container .finance_help_button_container .finance_help_button {
    font-size: 1rem;
  }
}
body main .new_client {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .new_client .new_client_container {
  width: 85vw;
  margin: 10rem 0;
}
body main .new_client .new_client_container .new_client_title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
body main .new_client .new_client_container .new_client_para {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
body main .new_client .new_client_container .new_client_button_container {
  display: flex;
  gap: 0.5rem;
}
body main .new_client .new_client_container .new_client_button_container .new_client_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
@media (min-width: 768px) {
  body main .new_client {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .new_client .new_client_container .new_client_title {
    font-size: 2.25rem;
  }
  body main .new_client .new_client_container .new_client_para {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  body main .new_client .new_client_container .new_client_button_container .new_client_button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  body main .new_client .new_client_container {
    width: 68rem;
  }
  body main .new_client .new_client_container .new_client_title {
    font-size: 2.5rem;
  }
  body main .new_client .new_client_container .new_client_para {
    font-size: 1.15rem;
  }
  body main .new_client .new_client_container .new_client_button_container .new_client_button {
    font-size: 1rem;
  }
}
body main .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2D2D2D;
  margin-top: 6rem;
}
body main .cta .cta_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  margin: 10rem 0;
}
body main .cta .cta_container .cta_title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #F8F8F8;
}
body main .cta .cta_container .cta_button_container {
  display: flex;
  gap: 0.5rem;
}
body main .cta .cta_container .cta_button_container .cta_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
@media (min-width: 768px) {
  body main .cta {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .cta .cta_container .cta_title {
    font-size: 2.25rem;
  }
  body main .cta .cta_container .cta_button_container .cta_button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  body main .cta .cta_container {
    width: 68rem;
  }
  body main .cta .cta_container .cta_title {
    font-size: 2.5rem;
  }
  body main .cta .cta_container .cta_button_container .cta_button {
    font-size: 1rem;
  }
}
body .footer .footer_content_container {
  width: 90dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}
body .footer .footer_content_container .footer_container {
  display: flex;
  gap: 0.5rem;
}
body .footer .footer_content_container .footer_container .footer_logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
body .footer .footer_content_container .footer_container .footer_logo_container .footer_logo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5rem;
}
body .footer .footer_content_container .footer_container .footer_logo_container .footer_logo_rabbit {
  height: 1.75rem;
  width: 1.75rem;
}
body .footer .footer_content_container .footer_container .footer_logo_container .footer_facebook {
  height: 1.5rem;
}
body .footer .footer_content_container .footer_container .footer_hours_container {
  margin-left: 1rem;
  width: 10rem;
}
body .footer .footer_content_container .footer_container .footer_hours_container p {
  font-size: 0.75rem;
  margin: 0.5rem 0;
}
body .footer .footer_content_container .footer_container .footer_hours_container .hours-top {
  margin-top: 0;
}
body .footer .footer_content_container .footer_container .footer_hours_container .hours-bottom {
  margin-bottom: 0;
}
body .footer .footer_content_container .footer_container_info .footer_street {
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
}
body .footer .footer_content_container .footer_container_info .footer_number {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  body .footer .footer_content_container .footer_hours_container {
    width: initial !important;
  }
}
@media (min-width: 1024px) {
  body .footer .footer_content_container .footer_container .footer_hours_container {
    margin-left: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
