.stop_scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F0F8FF;
}
body .navbar_mobile {
  background-color: #2D2D2D;
}
body .navbar_mobile .navbar_item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 0;
}
body .navbar_mobile .navbar_item-container .navbar_logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
body .navbar_mobile .navbar_item-container .navbar_hamburger-menu div {
  background-color: white;
  width: 24px;
  height: 2px;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  body .navbar_mobile {
    display: none;
  }
}
body .navbar_laptop {
  display: none;
}
@media (min-width: 1024px) {
  body .navbar_laptop {
    display: block;
    background-color: #2D2D2D;
  }
  body .navbar_laptop .navbar_laptop_container {
    width: 95vw;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_logo {
    font-size: 2rem;
    color: white;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_link_container {
    display: flex;
    gap: 2rem;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_link_container .navbar_laptop_link {
    font-size: 1rem;
    color: white;
  }
  body .navbar_laptop .navbar_laptop_container .navbar_laptop_button {
    border-radius: 0.5rem;
    background-color: #008080;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    border: none;
  }
}
body main {
  flex-grow: 1;
}
body main .landing-page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .landing-page .landing-page_text .landing-page_text_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
body main .landing-page .landing-page_text .landing-page_text_para {
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
body main .landing-page .landing-page_text .landing-page_text_button {
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
body main .landing-page .landing-page_image {
  width: inherit;
  border-radius: 1.5rem;
}
@media (min-width: 768px) {
  body main .landing-page {
    margin-top: 4rem;
  }
  body main .landing-page .landing-page_text .landing-page_text_title {
    margin-bottom: 1.25rem;
  }
  body main .landing-page .landing-page_text .landing-page_text_para {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  body main .landing-page {
    flex-direction: row;
    max-width: 55rem;
    height: 100dvh;
    align-items: normal;
    margin-top: 0;
    padding-top: 10rem;
    gap: 4rem;
  }
  body main .landing-page .landing-page_text .landing-page_text_title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
  body main .landing-page .landing-page_text .landing-page_text_para {
    color: #333333;
    line-height: 1.6rem;
    font-size: 1.25rem;
  }
  body main .landing-page .landing-page_text .landing-page_text_button {
    font-size: 1rem;
  }
  body main .landing-page .landing-page_image {
    width: 24rem;
    height: 22rem;
  }
}
body main .about-us {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .about-us .about-us_container {
  width: inherit;
}
body main .about-us .about-us_container .about-us_image {
  width: inherit;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
body main .about-us .about-us_container .about_us_container_info .about-us_title {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
}
body main .about-us .about-us_container .about_us_container_info .about-us_para {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #333333;
}
@media (min-width: 768px) {
  body main .about-us {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .about-us {
    margin-top: 0;
    align-items: center;
    max-width: 55rem;
    flex-direction: row;
  }
  body main .about-us .about-us_container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
  body main .about-us .about-us_container .about-us_image {
    width: 24rem;
    height: 22rem;
  }
}
body main .about-us_doctor {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .about-us_doctor .about-us_doctor_container {
  width: inherit;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_image {
  width: inherit;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
body main .about-us_doctor .about-us_doctor_container .about-us_doctor_content-container .about-us_doctor_para {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #333333;
}
@media (min-width: 768px) {
  body main .about-us_doctor {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .about-us_doctor {
    flex-direction: row;
    justify-content: center;
  }
  body main .about-us_doctor .about-us_doctor_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    max-width: 55rem;
  }
  body main .about-us_doctor .about-us_doctor_container .about-us_doctor_image {
    width: 24rem;
    height: 22rem;
  }
}
body main .our-team {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .our-team .our-team_container {
  width: inherit;
}
body main .our-team .our-team_container .our-team_title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
body main .our-team .our-team_container .our-team_card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card .our-team_card-image {
  border-radius: 9999px;
  height: 8.5rem;
  width: 9rem;
  object-fit: cover;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card .our-team_card-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0.75rem;
}
body main .our-team .our-team_container .our-team_card-container .our-team_card .our-team_card-position {
  font-size: 0.8rem;
}
body main .our-team .our-team_container .card_container-two {
  margin-top: 3rem;
}
body main .our-team .modal_background {
  height: 100dvh;
  width: 100dvw;
  background-color: #2D2D2D;
  position: fixed;
  opacity: 0.75;
  left: 0;
  top: 0;
  display: none;
}
body main .our-team .our_team_card_modal {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 85%;
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_top_content {
  display: flex;
  align-items: center;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_top_content .modal_image {
  border-radius: 9999px;
  height: 7.5rem;
  width: 8rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
  margin-right: 1rem;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_top_content .modal_title {
  font-size: 1.5rem;
  font-weight: normal;
}
body main .our-team .our_team_card_modal .our_team_card_modal_container .modal_para {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #333333;
}
body main .our-team .show_modal_background {
  display: block;
}
body main .our-team .show_modal {
  display: flex;
}
@media (min-width: 768px) {
  body main .our-team {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .our-team .our-team_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .our-team .our-team_container .our-team_title {
    width: 100%;
    max-width: 55rem;
  }
  body main .our-team .our-team_container .our-team_card-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 55rem;
  }
  body main .our-team .our-team_container .card_container-two {
    max-width: 40rem;
  }
}
body main .our-services {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .our-services .our_services_container .our-services_title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
body main .our-services .our_services_container .our-services_card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24rem;
  width: 75vw;
  background-color: black;
  border-radius: 1rem;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_para {
  color: white;
  font-size: 0.8rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our_services_card_svg_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our_services_card_svg_container .our_services_card_svg {
  height: 2.25rem;
}
body main .our-services .our_services_container .our-services_card-container .our-services_card .our_services_card_svg_container .our_services_card_svg_2 {
  height: 3rem;
}
@media (min-width: 768px) {
  body main .our-services {
    margin-top: 10rem;
  }
}
@media (min-width: 1024px) {
  body main .our-services .our_services_container .our-services_card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card {
    width: auto;
    padding: 1.25rem 1.25rem;
    height: 18rem;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_title {
    margin: 0;
  }
  body main .our-services .our_services_container .our-services_card-container .our-services_card .our-services_card_para {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
body main .finance_help {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
body main .finance_help .finance_help_content_container {
  margin: 6rem auto;
}
body main .finance_help .finance_help_content_container .finance_help_title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
body main .finance_help .finance_help_content_container .finance_help_para {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
body main .finance_help .finance_help_content_container .finance_help_button_container {
  display: flex;
  gap: 1rem;
}
body main .finance_help .finance_help_content_container .finance_help_button_container .finance_help_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.1rem 0.75rem;
  color: white;
  font-size: 0.75rem;
  line-height: 2.25rem;
  border: none;
}
@media (min-width: 768px) {
  body main .finance_help {
    margin-top: 10rem;
  }
}
body main .new_client {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #2D2D2D;
}
body main .new_client .new_client_container {
  width: 85vw;
  margin: 10rem auto;
}
body main .new_client .new_client_container .new_client_title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: white;
}
body main .new_client .new_client_container .new_client_para {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  color: white;
}
body main .new_client .new_client_container .new_client_button_container {
  display: flex;
  gap: 2rem;
}
body main .new_client .new_client_container .new_client_button_container .new_client_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
@media (min-width: 768px) {
  body main .new_client {
    margin-top: 10rem;
  }
}
body main .cta {
  display: flex;
  flex-direction: column;
}
body main .cta .cta_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  margin: 10rem auto;
}
body main .cta .cta_container .cta_title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
body main .cta .cta_container .cta_button {
  border-radius: 0.5rem;
  background-color: #008080;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 0.75rem;
  border: none;
}
body .footer {
  background-color: #2D2D2D;
}
body .footer .footer_content_container {
  width: 90dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
}
body .footer .footer_content_container .footer_container .footer_logo {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}
body .footer .footer_content_container .footer_container .footer_facebook {
  height: 1.5rem;
}
body .footer .footer_content_container .footer_container_info {
  color: white;
}
body .footer .footer_content_container .footer_container_info .footer_street {
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
}
body .footer .footer_content_container .footer_container_info .footer_number {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

/*# sourceMappingURL=index.css.map */
