$background-color: #F0F8FF;
$navigation-bg: #2D2D2D;
$button-bg: #008080;
$paragraph-color: #333333;

$breakpoint-desktop: 1440px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;

.stop_scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;

  .navbar_mobile {
    background-color: $navigation-bg;

    .navbar_item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      .navbar_logo {
        font-size: 2rem;
        font-weight: 700;
        color: white;
      }

      .navbar_hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div {
          background-color: white;
          width: 30px;
          height: 2px;
        }
      }
    }
  }

  .navbar_laptop {
    display: none;
  }

  @media (min-width: 1024px) {
    .navbar_laptop {
      display: block;
    }
  }

  main {
    flex-grow: 1;

    .landing-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      //height: 100dvh;
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;

      .landing-page_text {

        .landing-page_text_title {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }

        .landing-page_text_para {
          margin-bottom: 2rem;
          font-size: 1rem;
          line-height: 1.5rem;
        }

        .landing-page_text_button {
          margin-bottom: 4rem;
          border-radius: 0.5rem;
          background-color: $button-bg;
          padding: 0.75rem 1rem;
          color: white;
          font-size: 0.75rem;
          border: none;
        }
      }

      .landing-page_image {
        width: inherit;
        border-radius: 1.5rem;
      }
    }

    .about-us {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 100%;
      max-width: 52rem;
      margin-left: auto;
      margin-right: auto;

      .about-us_container {
        width: inherit;

        .about-us_image {
          width: inherit;
          border-radius: 1.5rem;
          margin-bottom: 7rem;
        }

        .about_us_container_info {

          .about-us_title {
            font-size: 3.75rem;
            line-height: 1;
            margin-bottom: 3rem;
          }

          .about-us_para {
            font-size: 2.25rem;
            line-height: 5rem;
            color: $paragraph-color;
          }
        }
      }
    }

    .about-us_doctor {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 100%;
      max-width: 52rem;
      margin-left: auto;
      margin-right: auto;

      .about-us_doctor_container {
        width: inherit;

        .about-us_doctor_image {
          width: inherit;
          border-radius: 1.5rem;
          margin-bottom: 7rem
        }

        .about-us_doctor_content-container {

          .about-us_doctor_title {
            font-size: 3.75rem;
            line-height: 1;
            margin-bottom: 3rem;
          }

          .about-us_doctor_para {
            font-size: 2.25rem;
            line-height: 5rem;
            color: $paragraph-color;
          }
        }
      }
    }

    .our-team {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 100%;
      max-width: 52rem;
      margin-left: auto;
      margin-right: auto;

      .our-team_container {
        width: inherit;

        .our-team_title {
          font-size: 3.75rem;
          line-height: 1;
          margin-bottom: 7rem;
        }

        .our-team_card-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6rem;

          .our-team_card {
            display: flex;
            flex-direction: column;
            align-items: center;

            .our-team_card-image {
              border-radius: 9999px;
              height: 17.5rem;
              width: 18rem;
              margin-bottom: 1.5rem;
              object-fit: cover;
            }

            .our-team_card-name {
              font-size: 2.25rem;
              line-height: 2.5rem;
              margin-bottom: 0.5rem;
            }

            .our-team_card-position {
              font-size: 1.875rem;
              line-height: 2.25rem;
            }
          }
        }
      }

      .modal_background {
        height: 100dvh;
        width: 100dvw;
        background-color: #2D2D2D;
        position: fixed;
        opacity: 0.75;
        left: 0;
        top: 0;
        display: none;
      }

      .our_team_card_modal {
        height: 100dvh;
        width: 100dvw;
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        display: none;

        .our_team_card_modal_container {
          display: flex;
          flex-direction: column;
          height: 40%;
          width: 70%;
          background-color: white;
          border-radius: 2rem;
          padding: 3rem;

          .modal_top_content {
            display: flex;
            align-items: center;

            .modal_image {
              border-radius: 9999px;
              height: 13.5rem;
              width: 14rem;
              margin-bottom: 1.5rem;
              object-fit: cover;
              margin-right: 2rem;
            }

            .modal_title {
              font-size: 2.5rem;
              font-weight: normal;
            }
          }

          .modal_para {
            font-size: 1.9rem;
            color: $paragraph-color;
            line-height: 2.75rem;
          }
        }
      }

      .show_modal_background {
        display: block;
      }

      .show_modal {
        display: flex;
      }
    }

    .our-services {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 100%;
      max-width: 52rem;
      margin-left: auto;
      margin-right: auto;

      .our_services_container {

        .our-services_title {
          font-size: 3.75rem;
          line-height: 1;
          margin-bottom: 7rem;
        }

        .our-services_card-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4rem;

          .our-services_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 34rem;
            background-color: black;
            border-radius: 1rem;
            padding-top: 2.5rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 1.5rem;
            margin-left: 6rem;
            margin-right: 6rem;

            .our-services_card_title {
              color: white;
              font-size: 2.25rem;
              line-height: 2.5rem;
              margin-bottom: 1rem;
            }

            .our-services_card_para {
              color: white;
              font-size: 1.875rem;
              line-height: 2.25rem;
              margin-bottom: 2rem;
            }

            .our_services_card_svg_container {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .our_services_card_svg_button {
                color: white;
                font-size: 1.5rem;
                line-height: 2rem;

                .our_services_card_svg {
                  height: 4rem;
                  width: 4rem;
                }
              }

              .our_services_card_svg_2 {
                height: 8rem;
                width: 8rem;
              }
            }
          }
        }
      }
    }

    .finance_help {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 100%;
      max-width: 52rem;
      margin-left: auto;
      margin-right: auto;

      .finance_help_title {
        font-size: 3.75rem;
        margin-bottom: 4rem;
      }

      .finance_help_para {
        font-size: 1.875rem;
        line-height: 4rem;
        margin-bottom: 1.5rem;
      }

      .finance_help_button_container {
        display: flex;
        gap: 2rem;

        .finance_help_button {
          border-radius: 0.5rem;
          background-color: $button-bg;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-right: 1.75rem;
          padding-left: 1.75rem;
          color: white;
          font-size: 1.875rem;
          line-height: 2.25rem;
          border: none;
        }
      }
    }

    .new_client {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      background-color: $navigation-bg;

      .new_client_container {
        width: 100%;
        max-width: 52rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20rem;
        margin-bottom: 20rem;

        .new_client_title {
          font-size: 3.75rem;
          margin-bottom: 4rem;
          color: white;
        }

        .new_client_para {
          font-size: 1.875rem;
          line-height: 4rem;
          margin-bottom: 1.5rem;
          color: white;
        }

        .new_client_button_container {
          display: flex;
          gap: 2rem;

          .new_client_button {
            border-radius: 0.5rem;
            background-color: $button-bg;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 1.75rem;
            padding-left: 1.75rem;
            color: white;
            font-size: 1.875rem;
            line-height: 2.25rem;
            border: none;
          }
        }
      }
    }

    .cta {
      display: flex;
      flex-direction: column;

      .cta_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 52rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20rem;
        margin-bottom: 20rem;

        .cta_title {
          font-size: 3.75rem;
          margin-bottom: 4rem;
          line-height: 5rem;
          text-align: center;
        }

        .cta_button {
          border-radius: 0.5rem;
          background-color: $button-bg;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-right: 1.75rem;
          padding-left: 1.75rem;
          color: white;
          font-size: 1.875rem;
          border: none;
        }
      }
    }
  }

  .footer {
    background-color: $navigation-bg;

    .footer_content_container {
      width: 85dvw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 4rem;
      margin-bottom: 4rem;

      .footer_container {

        .footer_logo {
          margin-bottom: 1rem;
          font-size: 2.25rem;
          color: white;
        }

        .footer_facebook {
          height: 2.5rem;
          width: 2.5rem;
        }
      }

      .footer_container_info {
        color: white;

        .footer_street {
          margin-bottom: 2rem;
          font-size: 1.25rem;
        }

        .footer_number {
          margin-bottom: 0.25rem;
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .navbar_mobile {
    display: none;
  }
}