$background-color: #F0F8FF;
$navigation-bg: #2D2D2D;
$button-bg: #008080;
$paragraph-color: #333333;

$title-size: 2rem;
$para-size: 1rem;
$button-size: 0.75rem;

$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;

.stop_scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;

  .navbar_mobile {
    background-color: $navigation-bg;

    .navbar_item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      padding: 0.8rem 0;

      .navbar_logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
      }

      .navbar_hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        div {
          background-color: white;
          width: 24px;
          height: 2px;
          border-radius: 1rem;
        }
      }
    }
  }
  @media (min-width: $laptop) {
    .navbar_mobile {
      display: none;
    }
  }

  .navbar_laptop {
    display: none;
  }
  @media (min-width: $laptop) {
    .navbar_laptop {
      display: block;
      background-color: $navigation-bg;

      .navbar_laptop_container {
        width: 95vw;
        display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        justify-content: space-between;
        align-items: center;
        margin-right: auto;
        margin-left: auto;

        .navbar_laptop_logo {
          font-size: 2rem;
          color: white;
        }

        .navbar_laptop_link_container {
          display: flex;
          gap: 2rem;

          .navbar_laptop_link {
            font-size: 1rem;
            color: white;
          }
        }

        .navbar_laptop_button {
          border-radius: 0.5rem;
          background-color: $button-bg;
          padding: 0.5rem 1rem;
          color: white;
          font-size: 1rem;
          border: none;
        }
      }
    }
  }

  main {
    flex-grow: 1;

    .landing-page {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      width: 85vw;
      margin-left: auto;
      margin-right: auto;

      .landing-page_text {

        .landing-page_text_title {
          font-size: $title-size;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }

        .landing-page_text_para {
          margin-bottom: 2rem;
          font-size: $para-size;
          line-height: 1.5rem;
        }

        .landing-page_text_button {
          margin-bottom: 4rem;
          border-radius: 0.5rem;
          background-color: $button-bg;
          padding: 0.75rem 1rem;
          color: white;
          font-size: $button-size;
          border: none;
        }
      }

      .landing-page_image {
        width: inherit;
        border-radius: 1.5rem;
      }
    }
    @media (min-width: $tablet) {
      .landing-page {
        margin-top: 4rem;

        .landing-page_text {

          .landing-page_text_title {
            margin-bottom: 1.25rem;
          }

          .landing-page_text_para {
            margin-bottom: 1rem;
          }
        }
      }
    }

    @media (min-width: $laptop) {
      .landing-page {
        flex-direction: row;
        max-width: 55rem;
        height: 100dvh;
        align-items: normal;
        margin-top: 0;
        padding-top: 10rem;
        gap: 4rem;

        .landing-page_text {

          .landing-page_text_title {
            margin-bottom: 1.5rem;
            font-size: 3rem;
          }

          .landing-page_text_para {
            color: $paragraph-color;
            line-height: 1.6rem;
            font-size: 1.25rem;
          }

          .landing-page_text_button {
            font-size: 1rem;
          }
        }

        .landing-page_image {
          width: 24rem;
          height: 22rem;
        }
      }
    }

    .about-us {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 85vw;
      margin-left: auto;
      margin-right: auto;

      .about-us_container {
        width: inherit;

        .about-us_image {
          width: inherit;
          border-radius: 1.5rem;
          margin-bottom: 2rem;
        }

        .about_us_container_info {

          .about-us_title {
            font-size: $title-size;
            line-height: 1;
            margin-bottom: 2rem;
          }

          .about-us_para {
            font-size: $para-size;
            line-height: 1.75rem;
            color: $paragraph-color;
          }
        }
      }
    }
    @media (min-width: $tablet) {
      .about-us {
        margin-top: 10rem;
      }
    }

    @media (min-width: $laptop) {
      .about-us {
        margin-top: 0;
        align-items: center;
        max-width: 55rem;
        flex-direction: row;

        .about-us_container {
          display: flex;
          justify-content: space-between;
          gap: 4rem;

          .about-us_image {
            width: 24rem;
            height: 22rem;
          }
        }
      }
    }

    .about-us_doctor {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 85vw;
      margin-left: auto;
      margin-right: auto;

      .about-us_doctor_container {
        width: inherit;

        .about-us_doctor_image {
          width: inherit;
          border-radius: 1.5rem;
          margin-bottom: 2rem
        }

        .about-us_doctor_content-container {

          .about-us_doctor_title {
            font-size: $title-size;
            margin-bottom: 2rem;
          }

          .about-us_doctor_para {
            font-size: $para-size;
            line-height: 1.75rem;
            color: $paragraph-color;
          }
        }
      }
    }
    @media (min-width: $tablet) {
      .about-us_doctor {
        margin-top: 10rem;
      }
    }
    @media (min-width: $laptop) {
      .about-us_doctor {
        flex-direction: row;
        justify-content: center;

        .about-us_doctor_container {
          display: flex;
          flex-direction: row-reverse;
          gap: 4rem;
          max-width: 55rem;

          .about-us_doctor_image {
            width: 24rem;
            height: 22rem;
          }
        }
      }
    }

    .our-team {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 85vw;
      margin-left: auto;
      margin-right: auto;

      .our-team_container {
        width: inherit;

        .our-team_title {
          font-size: $title-size;
          margin-bottom: 4rem;
        }

        .our-team_card-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3rem;

          .our-team_card {
            display: flex;
            flex-direction: column;
            align-items: center;

            .our-team_card-image {
              border-radius: 9999px;
              height: 8.5rem;
              width: 9rem;
              object-fit: cover;
            }

            .our-team_card-name {
              font-size: 1.5rem;
              margin-bottom: 0;
              margin-top: 0.75rem;
            }

            .our-team_card-position {
              font-size: 0.8rem;
            }
          }
        }

        .card_container-two {
          margin-top: 3rem;
        }
      }

      .modal_background {
        height: 100dvh;
        width: 100dvw;
        background-color: #2D2D2D;
        position: fixed;
        opacity: 0.75;
        left: 0;
        top: 0;
        display: none;
      }

      .our_team_card_modal {
        height: 100dvh;
        width: 100dvw;
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        display: none;

        .our_team_card_modal_container {
          display: flex;
          flex-direction: column;
          height: 60%;
          width: 85%;
          background-color: white;
          border-radius: 2rem;
          padding: 3rem;

          .modal_top_content {
            display: flex;
            align-items: center;

            .modal_image {
              border-radius: 9999px;
              height: 7.5rem;
              width: 8rem;
              margin-bottom: 1.5rem;
              object-fit: cover;
              margin-right: 1rem;
            }

            .modal_title {
              font-size: 1.5rem;
              font-weight: normal;
            }
          }

          .modal_para {
            font-size: 0.8rem;
            line-height: 1.5rem;
            color: $paragraph-color;
          }
        }
      }

      .show_modal_background {
        display: block;
      }

      .show_modal {
        display: flex;
      }
    }
    @media (min-width: $tablet) {
      .our-team {
        margin-top: 10rem;
      }
    }
    @media (min-width: $laptop) {
      .our-team {

        .our-team_container {
          display: flex;
          flex-direction: column;
          align-items: center;

          .our-team_title {
            width: 100%;
            max-width: 55rem;
          }

          .our-team_card-container {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 55rem;
          }

          .card_container-two {
            max-width: 40rem;
          }
        }
      }
    }

    .our-services {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      width: 85vw;
      margin-left: auto;
      margin-right: auto;

      .our_services_container {

        .our-services_title {
          font-size: $title-size;
          margin-bottom: 4rem;
        }

        .our-services_card-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4rem;

          .our-services_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 24rem;
            width: 75vw;
            background-color: black;
            border-radius: 1rem;
            padding: 2.5rem 2.5rem 1.5rem 2.5rem;

            .our-services_card_title {
              color: white;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            .our-services_card_para {
              color: white;
              font-size: 0.8rem;
              line-height: 1.75rem;
              margin-bottom: 2rem;
            }

            .our_services_card_svg_container {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .our_services_card_svg {
                height: 2.25rem;
              }

              .our_services_card_svg_2 {
                height: 3rem;
              }
            }
          }
        }
      }
    }
    @media (min-width: $tablet) {
      .our-services {
        margin-top: 10rem;
      }
    }
    @media (min-width: $laptop) {
      .our-services {

        .our_services_container {

          .our-services_card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .our-services_card {
              width: auto;
              padding: 1.25rem 1.25rem;
              height: 18rem;

              .our-services_card_title {
                margin: 0;
              }

              .our-services_card_para {
                margin-top: 1rem;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .finance_help {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 85vw;
      margin-left: auto;
      margin-right: auto;

      .finance_help_content_container {
        margin: 6rem auto;

        .finance_help_title {
          font-size: $title-size;
          margin-bottom: 2.5rem;
        }

        .finance_help_para {
          font-size: $para-size;
          line-height: 1.75rem;
          margin-bottom: 1.5rem;
        }

        .finance_help_button_container {
          display: flex;
          gap: 1rem;

          .finance_help_button {
            border-radius: 0.5rem;
            background-color: $button-bg;
            padding: 0.1rem 0.75rem;
            color: white;
            font-size: $button-size;
            line-height: 2.25rem;
            border: none;
          }
        }
      }
    }
    @media (min-width: $tablet) {
      .finance_help {
        margin-top: 10rem;
      }
    }

    .new_client {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      background-color: $navigation-bg;

      .new_client_container {
        width: 85vw;
        margin: 10rem auto;

        .new_client_title {
          font-size: $title-size;
          margin-bottom: 2.5rem;
          color: white;
        }

        .new_client_para {
          font-size: $para-size;
          line-height: 1.75rem;
          margin-bottom: 1.5rem;
          color: white;
        }

        .new_client_button_container {
          display: flex;
          gap: 2rem;

          .new_client_button {
            border-radius: 0.5rem;
            background-color: $button-bg;
            padding: 0.75rem 1rem;
            color: white;
            font-size: $button-size;
            border: none;
          }
        }
      }
    }
    @media (min-width: $tablet) {
      .new_client {
        margin-top: 10rem;
      }
    }

    .cta {
      display: flex;
      flex-direction: column;

      .cta_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        margin: 10rem auto;

        .cta_title {
          font-size: $title-size;
          margin-bottom: 2rem;
          text-align: center;
        }

        .cta_button {
          border-radius: 0.5rem;
          background-color: $button-bg;
          padding: 0.75rem 1rem;
          color: white;
          font-size: $button-size;
          border: none;
        }
      }
    }
  }

  .footer {
    background-color: $navigation-bg;

    .footer_content_container {
      width: 90dvw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4rem auto;

      .footer_container {

        .footer_logo {
          margin-bottom: 1rem;
          font-size: 1.5rem;
          color: white;
        }

        .footer_facebook {
          height: 1.5rem;
        }
      }

      .footer_container_info {
        color: white;

        .footer_street {
          margin-bottom: 1.5rem;
          font-size: 0.75rem;
        }

        .footer_number {
          margin-bottom: 0.25rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}